{
  "ConnectionStrings": {
    "DefaultConnection": "Server=YOURSERVERNAME\\SQLEXPRESS;Database=StudentExercisesEF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AllowedHosts": "*"
}
